/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s;
  position: relative;
  padding-bottom: 30px;
}

#fullscreen-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}